streamlit==1.22.0
pillow==7.1.0
torch==2.2.0
diffusers==0.16.1
setuptools==66.0.0
clip_interrogator==0.6.0
controlnet_aux==0.0.3
transformers==4.29.1
accelerate==0.19.0
setuptools
distutils-pytest
python==3.10
